doctype html
html
	head
		link(rel='stylesheet', href='/static/stylesheets/login.css', type='text/css' )
	body
		.infoBox
			=info
		.loginBox
			form(action='/login', method='post')
				label(for='username') Username:
				input(name='username', type='text', value='')
				br
				br
				label(for='password') Password:
				input(name='password', type='password', value='')
				br
				br
				br
				input(type='submit', value='Log In')