html
	head
		link(rel='stylesheet', href='../stylesheets/manage.css', type='text/css' )
	body
		.site
			.navbar
				a(href="/manage") Index
				a(href="/manage/pages") Pages
				a(href="/manage/links") Links
				a(href="/manage/navbar") Navbar
				a(href="/manage/users") Users
			.content
				h1
					=title
				.text
					| jalksdjalksdj