body {
	background: #eeeeee;
	background-image:url('../images/bg.png');
	font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.site {
	width: 80%;
	background: #FEFEFE;
	border: solid 1px #143D66;
	margin-left: auto;
	margin-right: auto;
}

.content {
	margin: 1%;
	/*border: solid 1px #000000;*/
}

.contentItem {
	/*border: solid 1px #000000;*/
	/*background: #898989;*/
	/*background: #e6e6e6;
	*/margin-bottom: 40px;
}

.contentItemHeader {
	margin-bottom: 10px;
	background: #D9D9D9;
	text-align: center;
	padding: 0;
	font: 1.5em Arial;
}

.navbar {
	width: 100%;
	font: 1.5em Arial;
	background: #143D66;
}

.navbar a {
	color: #eeeeee;
	padding: 0px 10px;
	text-decoration:none;
}

.navbar a:hover {
	background: #436485;
}


a {
	color: #00B7FF;
}

table {
	/*width: 70%;
	background: #436485;
	*/border-collapse:collapse;
}

tr {
	/*border: 1px solid black;
	*/text-align: center;
	margin: 10px;
}

th {
	color: #FFFFFF;
	border: 1px solid black;
	background: #436485;
	min-width: 150px;
}

td {
	border: 1px solid black;
	min-width: 75px;
}

tr:nth-child(even) {
	background: #CCC;
}
tr:nth-child(odd){ 
	background: #FFF;
}

input {
	font: 1.0em "Lucida Grande", Helvetica, Arial, sans-serif;
	background: #ffffff;
	/*border: 1px solid #000000;
	*/
}

select {
    

    width: 150px;
}
