extends layout

block content
	script(src="/static/javascripts/jquery.js")
	script(src="/static/javascripts/markitup.js")
	link(rel='stylesheet', href='/static/stylesheets/markitup.css', type='text/css')

	form(action='/manage/savePage', method='post')

		|Page title:
		input(type='textarea', value=title, name='title')

		br
		br

		textarea(id="markItUp", name='content', cols="150", rows="20")
			=content

		input(type='hidden', value=id, name='id')
		input(type='submit',value='Save')

	script(type='text/javascript').
		$(function() {
			$('#markItUp').markItUp(mySettings);
		});
