html
	head
		link(rel='stylesheet', href='/static/stylesheets/manage.css', type='text/css')
	body
		.site
			.navbar
				.navTab
					a(href="/manage") Index
				.navTab
					a(href="/manage/pages") Pages
				.navTab
					a(href="/manage/links") Links
				.navTab
					a(href="/manage/navbar") Navbar
				.navTab
					a(href="/manage/users") Users
				.logTab
					a(href="/logout") Log Out
			.content
				block content