extends layout

block content
	form(action='/manage/addNavbarItem', method='post')
		table
			thead
				tr
					th
						|Title
					th
						|Place
					th
						|PathID
			tbody
				tr
					td
						input(name='title', type='text')
					td
						input(name='place', type='text')
					td
						input(name='pathID', type='text')
					td
						input(type='submit', value='Add')
		|Navbar items:
	table
		thead
			tr
				th
					|Title
				th
					|Path
				th
					|Place
		tbody
			if navbar != null
				- each item in navbar
					tr
						td
							=item.Title
						td
							=item.Path
						td
							=item.Place
						td
							|Remove