extends layout

block content
	script(type='text/javascript').
		function formatTimestamp(ts) {
			return ts.getDate() + "." + ts.getMonth() + "." + ts.getFullYear() + " "
			+ ts.getHours() + ":" + ts.getMinutes() + ":" + ts.getSeconds();
		}
	.contentItem
		.contentItemHeader
			|Add new page
		a(href="/manage/pages/0") Add page
	.contentItem
		.contentItemHeader
			|Current pages
		table
			thead
				tr
					th
						|Title
					th
						|Author
					th
						|Created
					th
						|Updated
			tbody
				if pages != null
					form(action='/manage/pages/remove', method='post')
						- each page in pages
							tr
								td
									=page.Title
								td
									=page.Username
								td
									script(type='text/javascript').
										document.write(formatTimestamp(new Date("#{page.Created}")));
								td
									script(type='text/javascript').
										document.write(formatTimestamp(new Date("#{page.Created}")));
								td
									a(href="/manage/pages/" + page.PageID) Edit
								td
									button(type='submit', name="id", value=page.PageID).
										Remove