extends layout

block content
	.contentItem
		.contentItemHeader
			|Add new user
		form(action='/manage/users/add', method='post')
			|Username:<br>
			input(name='username', type='text')
			|<br>Password:<br>
			input(name='password', type='password')
			br
			br
			input(type='submit' value='Save')
	.contentItem
		.contentItemHeader
			|Users
		table
			thead
				tr
					th
						|Username
			tbody
				if users != null
						- each user in users
							tr
								td
									=user.Username